.\#*
scripts/work
build*/
autom4te.cache/
__pycache__/
*/.pytest_cache
*.py[cod]
.DS_Store
.cache/
*~
*.*.swp
**/wrapper*
experiments*/
results*/
.vscode
experiments.zip
*.csv
test_*.py

# used for background execution
*.out
*.pid